<!DOCTYPE html>
<html>
  <head>
    <title>OpenApiSearch</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <%= link_to 'Home', root_path, class: 'button' %>
        <div class="search">
          <%= form_tag :search, method: :get do %>
            <%= text_field_tag :title, "Search by title..." %>
            <%= submit_tag "Search" %>
          <% end %>
        </div>
        <h2>Search History</h2>
        <h3>Sort by:</h3>
        <div class="sort-buttons">
          <%= link_to "date", {:controller => controller_name, :action => action_name, :order => 'date', :title => params[:title], :format => params[:format]}, class: 'button' %>
          <%= link_to "count", {:controller => controller_name, :action => action_name, :order => 'count', :title => params[:title], :format => params[:format]}, class: 'button'%>
          <%= link_to "search", {:controller => controller_name, :action => action_name, :order => 'search', :title => params[:title], :format => params[:format]}, class: 'button' %>
        </div>
        <div>
          <ul>
          <% @searches.each do |search| %>
            <li>
              <%= link_to search.search_term, search_path(search.search_term), class: 'search-term' %>
              <p class="count">search count: <%= search.search_count %></p>
              <p class="last-searched">last searched: <%= search.updated_at %></p>
            </li>
          <% end %>
          </ul>
        </div>
        <div class="search-information">
          <% if @search %>
            <h3>Search Information</h3>
            <p class="search-term"><%= @search.search_term %></p>
            <p class="past">Total Search Count: <%= @search.search_count %></p>
            <p class="past">Past Searches:</p>
            <ul>
              <% @search.past_searches.reverse.each do |past_search| %>
                <li class="past-searches"><%= past_search.created_at %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
    </div>

    <div class="box content">
      <%= yield %>
    </div>

    </div>
  </body>
</html>
