<!DOCTYPE html>
<html>
  <head>
    <title>OpenApiSearch</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav>
      <%= form_tag :search, method: :get do %>
        <%= text_field_tag :title, "Search by title..." %>
        <%= submit_tag "Search" %>
      <% end %>
    </nav>
    <h2>Previous Searches</h2>
    <div>
      <ul>
      <% @searches.each do |search| %>
        <li>
          <%= link_to search.search_term, search_path(search.search_term) %>
          <p>search count: <%= search.search_count %></p>
        </li>
      <% end %>
      </ul>
    </div>

    <%= yield %>

  </body>
</html>
